body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cce7ff;
}

.login-container {
    width: 350px;
    padding: 40px;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #0099cc;
    box-shadow: 0 6px 20px #0077b6;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #005f73;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    display: block;
    font-size: 16px;
    color: #666666;
    margin-bottom: 5px;
    font-weight: 500;
}

.login-container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #0077b6;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.login-container input:focus {
    outline: none;
    border-color: #005f73;
    background-color: #ffffff;
}

.button-container {
    margin-top: 20px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #0077b6;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login-container button:hover {
    background-color: #005f73;
    transform: translateY(-2px);
}

.login-container button:active {
    background-color: #003f57;
    transform: translateY(2px);
}

.login-container button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #005f73;
}

.messages {
    width: 100%;
    bottom: 20px;
    left: 50%;
    max-width: 400px;
    position: fixed;
    transform: translateX(-50%);
}

.alert {
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: #ffffff;
    background-color: #e57373;
    text-align: center;
}

.alert.alert-success {
    background-color: #81c784;
}
